/*------Media------*/
/*----------Tablet---------*/
@media(min-width:769px) and (max-width:992px){

    /*--index--*/
    .card__destacado .card__img{
        width: 90%;
        height: 200px;
        margin: 25px;
    }
    .footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}