/*Variables*/
$color-letras: #f8f6f2;
$color-fondo-principal: #1c1c1c;
$color-borde: #c9c6c6;
$radius-small: 5px;
$radius-medium: 15px;
$spacing-small: 5px;
$spacing-medium: 10px;
$gap-chico: 10px;
$gap-mediano:20px;
