@use "../utilities/variables" as *;
@use "../utilities/mixins";

/*----------Ofertas y Combos--------*/
.ofertas-combos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gap-chico;
    align-items: stretch;
    justify-items: center;

    .img-ofertas-combos {
        @include mixins.img-size(200px, 150px);
        display: block;
        margin: 0 auto;
        margin-top: 70px;
    }

    .descripcion-oferta {
        text-align: left;
    }


}

/*--Detalles y Valores---*/
.historia{
    p{
        margin: 15px
    }
}
.detalles-valores {
    .detalles {
        @include mixins.flex-justify-center;
        gap: $gap-mediano;

        .detalles-nosotros {
            font-weight: bold;
            margin: 15px;
        }
    }

    .caja-valores {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
        margin: 10px;

        .caja-text {
            border: $color-borde solid 1px;
            border-radius: $radius-small;
            margin: $spacing-medium;
            gap: $gap-mediano;
        }
    }
}

/*-------Contactos-----*/
.contacto-horario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .info {
        font-size: 1.25rem;
        background-color: $color-fondo-principal;
        border: #444 solid 2px;
        color: $color-letras;
        border-radius: $radius-small;
        margin: $spacing-small;
    }

}