@use "../utilities/variables" as *;    
    
    .formulario {
        display: flex;
        flex-direction: column;
        margin: $spacing-small;

        input {
            border-radius: $radius-small;
            background-color: $color-fondo-principal;
            color: $color-letras;
            padding: $spacing-small;
        }

        textarea {
            background-color: $color-fondo-principal;
            color: $color-letras;
        }

    }