@use "../utilities/variables" as *;
h1 {
    font-family: "playfair display", serif;
    font-size: 2.5rem;
    color: $color-letras;
    margin: 0;
}

h2 {
    font-family: "playfair display", serif;
    text-align: center;
}
h3 {
    text-align: center;
}

h4 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
p {
    font-family: "segoe ui", sans-serif;
    text-align: center;
    border-radius: 100px;
}